[submodule "baselines/AREAD-Multi-Domain-Recommendation"]
	path = baselines/AREAD-Multi-Domain-Recommendation
	url = https://github.com/Chrissie-Law/AREAD-Multi-Domain-Recommendation

[submodule "baselines/HAMUR"]
	path = baselines/HAMUR
	url = https://github.com/Applied-Machine-Learning-Lab/HAMUR.git

[submodule "baselines/INSPEQ"]
	path = baselines/INSPEQ
	url = https://github.com/HongchenWuSdnu/INSPEQ.git
